body {
    font-family: 'Arial Black', sans-serif;
    background-color: #ffd400;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 5rem;
    font-weight: 1000;
    color: #D50000;
    text-transform: uppercase;
    text-shadow: 4px 4px 0px #000;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border: 4px solid #000;
    border-radius: 10px;
    background-color: #FFF;
    margin: 0 5px;
    width: 80px;
    padding-bottom: 20px;
}

#submitButton {
    font-size: 20px;
    font-weight: bold;
    padding: 12px 20px;
    margin-top: 15px;
    background-color: #2196F3;
    color: #FFF;
    border: 4px solid #000;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
    text-transform: uppercase;
}

#submitButton:hover {
    background-color: #428adb;
    transform: translateY(10px);
    transform: scale(1.05);
    box-shadow: 0px 6px 1px #000000;
}
#submitButton:active {
    transform: scale(0.95);
    box-shadow: 0px 3px 1px #000000;
    background-color: #7e9cba;
}

#displayedText {
    margin-top: 20px;
    font-size: 2rem;
    display: none;
}

        #displayedImage {
            display: none;
            margin-top: 20px;
            max-width: 300px;
            border: 4px solid #000;
            border-radius: 10px;
            transition: transform 0.9s ease-out, box-shadow 0.9s ease-out;
        }
        .shadow-effect {
            transition: transform 0.3s ease-out, box-shadow 1s ease-out;
            box-shadow: 8px 8px 0px #000; 
            transform: translateY(-5px); 
        }
        #popup-card {
            position: fixed;
            top: 45%;
            width: 450px;
            height: 250px;
            background:  #94c8f9;
            padding: 20px;
            border: 6px solid #000;
            border-radius: 15px;
            text-align: center;
            font-family: 'Arial', sans-serif;
            box-shadow: 8px 8px 0px #000;
            z-index: 1000;
            color: black;
            transition: transform 0.9s ease-out, box-shadow 0.9s ease-out;
        }
  
        #popup-card:hover {
            transform: translateY(10px);
            box-shadow: 0px 1px 1px #000;
        }   
        #popup-card:active {
            transform: translateY(-12px);
            box-shadow: 12px 12px 12px #000;
        }   
        #popup-card button {
            font-size: 18px;
            font-weight: bold;
            padding: 10px 15px;
            margin-top: 10px;
            background: #D50000;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            text-transform: uppercase;
            box-shadow: 4px 4px 0px #000;
            transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
        }
        #popup-card button:hover {
            transform: translateY(-5px);
            box-shadow: 0px 1px 1px #000;
        }   
        #popup-card button:active {
            transform: translateY(-10px);
            box-shadow: 0px 12px 1px #000;
        }   
    
  
        .slider-container {
            width: 320px;
            margin: auto;
            position: relative;
        }
        
    #typeface-name {
        font-size: 1.5em;
        margin-top: 10px;
        visibility: hidden;
        font-family: Arial, Helvetica, sans-serif;
    }     

        @media (max-width: 560px) {
    #popup-card {
        width: 75%; 
        height: 200px;
        max-width: 320px;
        padding: 15px;
        font-size: 14px; 
        border-width: 4px; 
        box-shadow: 6px 6px 0px #000; 
        top: 275px;
    }

    #popup-card h2 {
        font-size: 22px; 
    }

    #popup-card p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px; 
    }

    #popup-card button {
        font-size: 14px; 
        padding: 8px 12px; 
        box-shadow: 3px 3px 0px #000; 
    }
    h1 {
        font-size: 40px; 
    }

    #charInput {
        font-size: 25px;
        width: 40px;
        height: 20px;
    }

    #submitButton {
        font-size: 18px;
        padding: 10px 10px;
        left: 45%;
    }

    #displayedImage {
        max-width: 250px;
    }
}
